
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using TicariOtomasyon.Models.Siniflar
@model Fatura



@using (Html.BeginForm("FaturaEkle", "Fatura", FormMethod.Post))
{
    <div class="form-group">
        <br />

        @Html.LabelFor(x => x.FaturaSeriNo)

        @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })

        @Html.LabelFor(x => x.FaturaSıraNo)
        @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })

        @Html.LabelFor(x => x.VergiDairesi)
        @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })

        @Html.LabelFor(x => x.TeslimEden)
        @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })

        @Html.LabelFor(x => x.TeslimAlan)
        @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })

   




    </div>

    <button class="btn btn-info btn-block">Ekle</button>

}
