
@{
    ViewBag.Title = "SatisEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@model TicariOtomasyon.Models.Siniflar.SatisHareket

@using (Html.BeginForm("SatisEkle", "SatisHareket", FormMethod.Post))
{


<div class="form-group">


    @Html.HiddenFor(x => x.UrunID )

    @Html.LabelFor(x => x.Adet)
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })


    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })


    @Html.LabelFor(x => x.ToplamTutar)
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })

    @Html.LabelFor(x => x.Cari.CariAd)
    @Html.DropDownListFor(x => x.CariId , (List<SelectListItem>)ViewBag.CariList, new {@class="form-control"})


    @Html.LabelFor(x => x.Personel.PersonelAdSoyad)
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.personelList, new {@class="form-control"})



</div>

    <button class="btn btn-info">Ekle</button>

}
